<ion-header class="a-header-background">
  <div class="padding-statusbar"></div>
  <div class="a3-container a3-items-center a1-relative">
    <div class="header-button">

    </div>

    <div class="header-title a3-flex-1">
      Mở rộng
    </div>
    <div class="header-button">
      <!-- <ion-icon name="departure-c-setting"></ion-icon> -->
    </div>
  </div>
</ion-header>



<ion-content>
  <div padding-left padding-right class="body-content a1-relative">
    <!-- <div text-left margin-top margin-bottom>Đăng nhập với tài khoản</div>
    <div class="a3-container">
      <div class="facebook-button">
        <img src="assets/departure/icon/btn_facebook.png">
      </div>
      <div style="width: 30px"></div>
      <div class="google-button">
        <img src="assets/departure/icon/btn_google.png">
      </div>
    </div> -->
    <div margin-top class="a3-container-center">
      <!-- <div class="line"></div> -->
    </div>
    <ion-row margin-top>
      <ion-col col-6 *ngFor="let option of more_options;let i = index" class="a3-container a3-items-center">
        <div *ngIf="i%2==1" style="width:20px"></div>
        <div class="icon-option">
          <!-- <img [src]="option.icon"> -->
          <ion-icon [name]="option.ionicon"></ion-icon>
        </div>
        <div text-left class="name-option" tappable (click)="viewPage(option.component)">{{option.name_option}}</div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
