page-departure-more {
    $heightheader: 56px;
    $background: linear-gradient(to right, #17cce9, #34a1ca);
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border-bottom: none;
    }
    .list-ios>.item-block:last-child .item-inner,
    .list-ios>.item-wrapper:last-child .item-block .item-inner {
        border-bottom: 0.55px solid #c8c7cc;
    }
    .a-header-background {
        background: $background;
    }
    .a-header-title {
        font-size: 1.2em;
        font-weight: bold;
        color: #fff;
        margin-bottom: 5px;
    }
    .a-header-button {
        img {
            height: 3em;
        }
    }
    .a-center-center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .a-right-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
    }
    .a-left-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
    }
    .height-56 {
        height: $heightheader;
    }
    .body-content {
        .line {
            background-color: #ccc;
            height: 1px;
            width: 90%;
        }
        .icon-option {
            color: #4bcdef;
            ion-icon {
                font-size: $font-iconTabbar !important;
            }
        }
        .name-option {
            width: 70%;
            font-size: $font-option;
            padding: 0.5em;
        }
    }
    .overlay {
        position: fixed;
        background: rgba($color: black, $alpha: .4);
        height: 100%;
        width: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        display: none;
    }
    .menu-btn-background {
        position: absolute;
        z-index: -1;
        left: -1px;
        top: -10%;
        opacity: 0;
        height: 120%;
        width: 100%;
        background-image: url(../assets/departure/icon/btn_menu.png);
        background-position: left;
        background-size: 100% 116%;
        background-repeat: no-repeat;
    }
}