page-select-date {
    $background: linear-gradient(to right, #007991, #78ffd6);
    $item-height: 40px;
    $margin-top: 32px;
    $ipad-height: 80px;
    @media(min-width: 768px) {
        .selectDate-container {
            width: calc(100% - 64px) !important;
        }
        .scroll-container {
            height: $ipad-height * 5 !important;
            .item-scroll {
                height: $ipad-height !important;
                span {
                    height: $ipad-height !important;
                    line-height: $ipad-height !important;
                }
            }
        }
        .scroll-title {
            padding: 32px 0px !important;
        }
        .bg {
            height: $ipad-height !important;
            bottom: $ipad-height * 2 + $ipad-height / 2 !important;
        }
        .space {
            height: $ipad-height / 2 !important;
        }
        .view-button {
            margin-top: $ipad-height !important;
            padding: 32px 0px !important;
        }
        .content-title {
            margin-top: $ipad-height !important;
        }
    }
    .space {
        height: $item-height / 2;
    }
    .selectDate-page {
        .selectDate-container {
            margin: auto;
            width: calc(100% - 20px);
            .content-title {
                margin-top: $margin-top;
                padding: 5px;
                span {
                    text-align: center;
                    font-weight: bold;
                    white-space: nowrap;
                    font-size: $font-titleContent;
                }
            }
            .scroll-title {
                width: 100%;
                padding: 16px 0px;
                text-align: center;
                white-space: nowrap;
                font-size: $font-titleContent;
                font-weight: bold;
                border-radius: 5px 5px 0 0;
            }
            .a-50 {
                width: 50%;
                span {
                    font-size: $font-titleContent;
                }
            }
            .a-25 {
                width: 25%;
                span {
                    font-size: $font-titleContent;
                }
            }
            .bg {
                height: $item-height;
                width: 96%;
                background: map-get($map: $DpColors, $key: bg);
                position: absolute;
                left: 2%;
                border-radius: 20px;
                bottom: $item-height * 2 + $item-height / 2;
                // z-index: -1;
            }
            .background-scroll {
                // background: #FFFFE0;
                box-shadow: 0px 4px 3px rgba($color: black, $alpha: .3);
                border-radius: 5px;
            }
            .scroll-container {
                height: $item-height * 5;
                overflow-y: auto;
                overflow-x: hidden;
                z-index: 10;
                .item-scroll {
                    height: $item-height;
                    width: 100%;
                    text-align: center;
                    color: map-get($map: $DpColors, $key: gray);
                    span {
                        height: $item-height;
                        line-height: $item-height;
                        display: block;
                        white-space: nowrap;
                        font-size: $font-content;
                        padding-left: 8px;
                    }
                }
            }
        }
    }
    .view-button {
        border-radius: 5px;
        padding: 12px;
        width: 40%;
        margin: auto;
        margin-top: 32px;
        transform: scale(1);
        filter: grayscale(0%);
        transition: 200ms;
        box-shadow: 0px 2px 3px rgba($color: black, $alpha: .3);
        background-color: #666699;
        span {
            color: white;
            font-size: $font-button;
        }
    }
    .view-button:active {
        transform: scale(.96);
        filter: grayscale(10%);
    }
}