page-select-date {
    $background: linear-gradient(to right, #007991, #78ffd6);
    $item-height: 40px;
    ion-content {
        background: $background;
    }
    // .header-md::after {
    //     height: 0;
    // }
    .background-header {
        background: rgba(black, 0.4);
    }
    .selectDate-page {
        .selectDate-container {
            margin: auto;
            width: calc(100% - 20px);
            color: white;
            .content-title {
                padding: 5px;
                span {
                    text-align: center;
                    font-weight: bold;
                    white-space: nowrap;
                    font-size: $font-titleContent;
                }
            }
            .scroll-title {
                width: 100%;
                padding: 16px 0px;
                text-align: center;
                white-space: nowrap;
                font-size: $font-titleContent;
                background: rgba(black, 0.6);
            }
            .a-50 {
                width: 50%;
                span {
                    font-size: $font-titleContent;
                }
            }
            .a-25 {
                width: 25%;
                span {
                    font-size: $font-titleContent;
                }
            }
            .bg {
                height: $item-height;
                width: 100%;
                background: rgba(whitesmoke, 0.2);
                position: absolute;
                top: $item-height * 2;
                z-index: -1;
            }
            .background-scroll {
                background: rgba(black, 0.2);
            }
            .scroll-container {
                height: $item-height * 5;
                overflow-y: auto;
                overflow-x: hidden;
                .item-scroll {
                    height: $item-height;
                    width: 100%;
                    text-align: center;
                    color: white;
                    span {
                        height: $item-height;
                        line-height: $item-height;
                        display: block;
                        white-space: nowrap;
                        font-size: $font-content;
                        padding-left: 8px;
                    }
                }
            }
        }
    }
    .view-button {
        border: 1px solid white;
        background: rgba(black, 0.4);
        border-radius: 5px;
        padding: 8px;
        width: 40%;
        margin: auto;
        margin-top: 16px;
        transform: scale(1);
        filter: grayscale(0%);
        transition: 200ms;
        span {
            color: white;
            font-size: $font-button;
        }
    }
    .view-button:active {
        transform: scale(.96);
        filter: grayscale(10%);
    }
}