<ion-header class="background-header">
    <div class="padding-statusbar"></div>
    <div class="a3-container a3-items-center a1-relative header-padding">
        <div class="header-button left" tappable (click)="closeView()">
            <ion-icon name="departure-arrow-left"></ion-icon>
        </div>

        <div class="header-title a3-flex-1">
            Chọn Ngày Tốt
        </div>

        <div class="header-button left hidden">
            <ion-icon name="departure-arrow-left"></ion-icon>
        </div>
        <!-- <div class="header-button"></div> -->
    </div>
</ion-header>


<ion-content>
    <div class="selectDate-page a1-relative">
        <div class="selectDate-container a1-relative" text-center>
            <div class="content-title">
                <span>Chọn lịch dương bạn muốn xem</span>
            </div>
            <div margin-top class="background-scroll a1-relative">
                <div class="bg"></div>

                <div class="scroll-title a3-container-center background-header">
                    <div class="a-50">
                        <span>Việc cần làm</span>
                    </div>
                    <div class="a-25">
                        <span>Tháng</span>
                    </div>
                    <div class="a-25">
                        <span>Năm</span>
                    </div>
                </div>
                <div class="space"></div>
                <div class="a3-container a3-justify-between">
                    <div class="scroll-container a-50" id="colum1">
                        <div class="item-scroll"></div>
                        <div class="item-scroll"></div>
                        <div class="item-scroll" *ngFor="let item of data;let i= index" [class.text-active]="i==mCenterIndexs[0]">
                            <span>{{item.name}}</span>
                        </div>
                        <div class="item-scroll"></div>
                        <div class="item-scroll"></div>
                    </div>
                    <div class="scroll-container a-25" id="colum2">
                        <div class="item-scroll"></div>
                        <div class="item-scroll"></div>
                        <div class="item-scroll" *ngFor="let item of dayInMonth;let i = index" [class.month-active]="i==mCenterIndexs[1]">
                            <span>{{item}}</span>
                        </div>
                        <div class="item-scroll"></div>
                        <div class="item-scroll"></div>
                    </div>
                    <div class="scroll-container a-25" id="colum3">
                        <div class="item-scroll"></div>
                        <div class="item-scroll"></div>
                        <div class="item-scroll" *ngFor="let item of years;let i = index" [class.year-active]="i==mCenterIndexs[2]">
                            <span>{{item}}</span>
                        </div>
                        <div class="item-scroll"></div>
                        <div class="item-scroll"></div>
                    </div>
                </div>
                <div class="space"></div>

            </div>

            <div class="view-button" tappable (click)="viewDescription()">
                <span>Xem chi tiết</span>
            </div>
        </div>
    </div>
</ion-content>