page-number-rich-detail {
    $background: linear-gradient(to right, #007991, #78ffd6);
    ion-content {
        background: $background;
    }
    // .page-container {
    .number-container {
        margin: auto;
        width: calc(100% - 20px);
        height: 100%;
        border-radius: 5px;
        overflow: scroll;
        background: rgba(black, 0.2);
        color: white;
        padding: 16px;
    }
    .number-title {
        padding: 10px 0 10px 0;
        span {
            font-weight: bold;
            font-size: $font-titleContent;
            text-transform: capitalize;
        }
    }
    .number-content {
        p {
            color: white;
            text-align: justify;
            font-size: $font-content;
        }
    }
    // }
}