<ion-header class="background-header">
    <div class="padding-statusbar"></div>
    <div class="a3-container a3-items-center a1-relative header-padding">
        <div class="header-button left touch-scale" tappable (click)="closeView()">
            <ion-icon name="departure-arrow-left"></ion-icon>
        </div>

        <div class="header-title a3-flex-1" *ngIf="!isLoading">
            <span>{{data.number}}</span>
        </div>
        <!-- <div class="header-button"></div> -->
    </div>
</ion-header>




<ion-content>
    <div *ngIf="!isLoading" class="a1-relative" margin-top style="height: calc(100% - 32px)">
        <div class="number-container">
            <div class="number-title">
                <span>{{data.number}}</span>
            </div>
            <div class="number-content">
                <p>{{data.content}}</p>
            </div>
        </div>
    </div>
</ion-content>