page-departure-tabs {
    .divBar {
        width: 10vw;
        height: 6px;
        background-color: #4bcdef;
        border-radius: 6px;
        position: absolute;
        left: 5vw;
        transform: translate(0px, -4px);
        transition: 200ms;
    }
    .tabs-ios .tab-button {
        max-width: unset;
    }
    .tabs-ios .tab-button-icon {
        height: unset;
    }
    .tab-button-icon {
        font-size: $font-iconTabbar !important;
    }
    .tab-button[aria-selected=true] .tab-button-icon {
        color: #4bcdef !important;
    }
    .tabs-ios[tabsLayout=title-hide] .tab-button,
    .tabs-ios .tab-button.icon-only {
        min-height: $ios-footer-height;
    }
    .tabs-ios .tabbar {
        border-top: none !important;
    }
}