<ion-header class="background-header">
    <div class="padding-statusbar"></div>

    <div class="a3-container a3-items-center a1-relative header-padding ">
        <div class="header-button left touch-scale" tappable (click)="closeView()">
            <ion-icon name="departure-arrow-left"></ion-icon>
        </div>

        <div class="header-title a3-flex-1" *ngIf="!isLoading">
            {{page_title}}
        </div>
        <div class="header-button left hidden">
            <ion-icon name="departure-arrow-left"></ion-icon>
        </div>

    </div>

</ion-header>


<ion-content>
    <ion-grid *ngIf="!isLoading" margin-top>
        <ion-row align-items-center>
            <ion-col col-4 col-sm-4 *ngFor="let item of mIcons;let i = index" text-center (click)="viewDetail(i)" tappable>
                <div class="background-item">
                    <div class="img-top">
                        <img [src]="item" alt="icon">
                    </div>
                    <div class="img-description">
                        <span>{{data[i].nameTC12CG}}</span>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>