page-van-khan-ct {
    $background: linear-gradient(to right, #007991, #78ffd6);
    // .header-md::after {
    //     height: 0;
    // }
    .content-md {
        background: $background;
    }
    .content-ios {
        background: $background;
    }
    .background-header {
        background: rgba(black, 0.4);
    }
    .appContentVK {
        margin: auto;
        overflow: auto;
        width: calc(100% - 20px);
        height: calc(100% - 32px);
        background: rgba(black, 0.2);
        border-radius: 10px;
        padding: 16px;
    }
    .content-title {
        padding: 16px 0 16px 0;
        span {
            font-size: $font-titleContent;
            font-weight: bold;
            color: white;
        }
    }
    .content-text {
        p {
            line-height: 1.2em;
            color: white;
            white-space: pre-wrap;
            text-align: justify;
            font-size: $font-content;
        }
    }
    .setting-text {
        color: white;
        font-size: $font-button;
        text-transform: uppercase;
    }
}