page-van-khan-ct {
    $background: linear-gradient(to right, #007991, #78ffd6);
    // .header-md::after {
    //     height: 0;
    // }
    .appContentVK {
        margin: auto;
        overflow: auto;
        width: calc(100% - 20px);
        height: calc(100% - 32px);
        border-radius: 10px;
        padding: 16px;
    }
    .content-title {
        padding: 16px 0 16px 0;
        text-align: center;
        color: map-get($map: $colors, $key: title);
        font-size: $font-titleContent;
        text-transform: uppercase;
        font-weight: bold;
    }
    .content-text {
        p {
            line-height: 1.2em;
            white-space: pre-wrap;
            text-align: justify;
            font-size: $font-content;
        }
    }
    .setting-text {
        font-size: $font-button;
        text-transform: uppercase;
        margin-right: 16px;
    }
}