<ion-header class="background-header">
    <div class="padding-statusbar"></div>
    <div class="a3-container a3-items-center a1-relative header-padding">

        <div class="header-button left" tappable (click)="closeView()">
            <ion-icon name="ios-arrow-dropleft-outline"></ion-icon>
        </div>

        <div class="header-title a3-flex-1">
            Giải Mộng
        </div>
        <!-- <div class="header-button"></div> -->
    </div>
</ion-header>

<ion-content>

    <div class="background-content " #mongName>
        <div class="bg"></div>

        <div class="a3-container a3-justify-between background-header header-scroll">
            <div class="title a3-container-center  width-col" style="margin-left:5%;">
                <span>Chữ cái</span>
            </div>
            <div class="title a3-container-center width-col" style="margin-right:5%;">
                <span>Mộng thấy</span>
            </div>
        </div>
        <div class="a3-container a3-justify-between box-scroll">
            <div class="scroll-container width-col" id="scroll1">
                <div class="item-scroll"></div>
                <div class="item-scroll"></div>
                <div *ngFor="let letter of letters" class="item-scroll">
                    <span>{{letter.letter}}</span>
                </div>
                <div class="item-scroll"></div>
                <div class="item-scroll"></div>
            </div>
            <div class="scroll-container width-col" id="scroll2">

                <div class="item-scroll"></div>
                <div class="item-scroll"></div>
                <div *ngFor="let item of data" class="item-scroll">
                    <span>{{item.mong_name}}</span>
                </div>
                <div class="item-scroll"></div>
                <div class="item-scroll"></div>
            </div>
        </div>
    </div>


    <div class="a3-container-center a1-relative " tappable (click)="viewDetail()">
        <span text-center class="button-detail  background-header">Xem chi tiết</span>
    </div>

    <div style="height:100px" id="testdiv"></div>
</ion-content>