page-giai-mong {
    $item-scroll-height: 40px;
    $width-col: 40%;
    $margin-top: 30px;
    $ipad-height: 80px;
    @media(min-width: 768px) {
        .scroll-container {
            height: $ipad-height * 5 !important;
            .item-scroll {
                height: $ipad-height !important;
                line-height: $ipad-height !important;
                span {
                    height: $ipad-height !important;
                }
            }
        }
        .background-content {
            margin-top: $ipad-height !important;
            padding-bottom: $ipad-height / 2 !important;
        }
        .button-detail {
            margin-top: $ipad-height !important;
            padding: 20px 0px !important;
        }
        .bg {
            height: $ipad-height !important;
            bottom: $ipad-height * 2 + $ipad-height / 2 !important;
        }
        .box-scroll {
            margin-top: $ipad-height / 2 !important;
        }
    }
    .box-scroll {
        margin-top: 10px;
    }
    .header-scroll {
        padding: 12px 0px;
        border-radius: 5px 5px 0 0px;
    }
    .bg {
        height: $item-scroll-height;
        position: absolute;
        left: 5%;
        bottom: $item-scroll-height * 2 + 10px;
        width: 90%;
        background: map-get($map: $DpColors, $key: bg);
        border-radius: 20px;
    }
    .title {
        text-align: center;
        font-size: $font-titleContent;
        padding: 6px 0px;
        span {
            font-weight: bold;
        }
    }
    #scroll1 {
        margin-left: 5%;
    }
    #scroll2 {
        margin-right: 5%;
    }
    .width-col {
        width: $width-col;
    }
    .background-content {
        width: 90%;
        margin: auto;
        margin-top: $margin-top;
        position: relative;
        // background: #FFFFE0;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
        padding-bottom: 10px;
        border-radius: 5px;
    }
    .scroll-container {
        height: $item-scroll-height *5;
        overflow: auto;
        z-index: 10;
        .item-scroll {
            height: $item-scroll-height;
            width: 100%;
            text-align: center;
            color: map-get($map: $DpColors, $key: gray);
            line-height: $item-scroll-height;
            span {
                height: $item-scroll-height;
                font-size: $font-content;
                // line-height: $item-scroll-height;
            }
        }
    }
    .character-active {
        color: #ff6699 !important;
        font-weight: bold;
    }
    .mong-name-active {
        color: #333333 !important;
        font-weight: bold;
    }
    .button-detail {
        margin-top: $margin-top;
        padding: 10px;
        width: 60%;
        border-radius: 5px;
        white-space: nowrap;
        font-size: $font-button;
        padding: 10px 0px;
        background-color: #666699;
        color: white;
        text-transform: uppercase;
    }
}