page-home {
    .header-md::after {
        height: 0;
    }
    .scroll-content {
        // margin-bottom: $ !important;
    }
    .font-shadow {
        color: white;
        font-family: "Myriad Pro", sans-serif;
        text-shadow: 1px 0px #333333;
    }
    .font-italic {
        font-style: italic;
    }
    .a-qoute {
        color: #727272;
        font-size: $font-dayContent;
        line-height: 1.5em;
        padding: 5px 30px 5px 30px;
        width: 100%;
    }
    .a-qoute-day {
        padding: 10px 0 0 30px;
        text-transform: capitalize;
        width: 100%;
        font-size: $font-dayName;
    }
    .a-header-button {
        background-color: transparent;
        img {
            height: 3em;
        }
    }
    .a-header-title {
        font-size: 1.2em;
        text-align: center;
        color: white;
        white-space: nowrap;
    }
    .a-footer {
        padding-top: 5px;
        position: relative;
        top: 30px;
        color: #584E4E;
        font-size: 0.7em;
        text-align: center;
        width: 100%;
    }
    .a-footer-item {
        width: 20%;
        text-align: center;
    }
    .a-footer-detail {
        font-weight: bold;
        font-size: $font-timeNumber;
        color: #474848;
    }
    .a-footer-note {
        margin-top: 5px;
        font-size: $font-timeSexy;
        color: #b7b7b7;
        white-space: nowrap;
    }
    .a-border-bottom {
        border-bottom: 1px solid #ccc;
    }
    .a-title {
        padding-bottom: 5px;
        font-size: $font-timeTitle;
        color: #474848;
    }
    .a-row-dot {
        text-align: center;
        width: 100%;
        position: relative;
        margin: 2px 0 5px 0;
        height: $row-dot-height;
        .a-center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .line {
            height: 1px;
            width: 100%;
            background-color: #dcdcdc;
            z-index: -1;
        }
        .dot-large {
            display: inline-block;
            width: $row-dot-height;
            height: $row-dot-height;
            border-radius: 50%;
            opacity: 0.4;
        }
        .dot-small {
            width: 0.6 * $row-dot-height;
            height: 0.6 * $row-dot-height;
            border-radius: 50%;
        }
    }
    .nowrap {
        white-space: nowrap;
    }
    .height-56 {
        height: 56px;
    } //  ======================
    #homepage-content {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .background-animation {
        -webkit-transition: background-image .4s;
        transition: background-image .4s;
    }
    #cube {
        width: 100%;
        height: 100%;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: -webkit-transform .6s;
        -moz-transition: -moz-transform .6s;
        -o-transition: -o-transform .6s;
        transition: transform .6s;
    }
    #cube.panels-backface-invisible div {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    #cube .front {
        -webkit-transform: translateZ( 30vw);
        -moz-transform: translateZ( 30vw);
        -o-transform: translateZ( 30vw);
        transform: translateZ( 30vw);
    }
    #cube .back {
        -webkit-transform: rotateX( -180deg) translateZ( 30vw);
        -moz-transform: rotateX( -180deg) translateZ( 30vw);
        -o-transform: rotateX( -180deg) translateZ( 30vw);
        transform: rotateX( -180deg) translateZ( 30vw);
    }
    #cube .right {
        -webkit-transform: rotateY( 90deg) translateZ( 30vw);
        -moz-transform: rotateY( 90deg) translateZ( 30vw);
        -o-transform: rotateY( 90deg) translateZ( 30vw);
        transform: rotateY( 90deg) translateZ( 30vw);
    }
    #cube .left {
        -webkit-transform: rotateY( -90deg) translateZ( 30vw);
        -moz-transform: rotateY( -90deg) translateZ( 30vw);
        -o-transform: rotateY( -90deg) translateZ( 30vw);
        transform: rotateY( -90deg) translateZ( 30vw);
    }
    #cube .contentback {
        width: 100%;
        height: 100%;
        transform: rotateZ(180deg);
    } //============== Dinh Anh ==================
    .a-cube-wrapper {
        position: relative;
        width: 55%;
        height: 100%;
        margin: auto;
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        -o-perspective: 1000px;
        perspective: 1000px;
    }
    .a-cube-day {
        font-size: 4vh;
        text-align: center;
        text-transform: inherit;
        color: #fff;
    }
    .a-cube-date {
        font-size: 16vh;
        text-align: center;
        font-weight: 400;
        color: #fff;
    }
}