<ion-header class="a-header-background">
    <div class="padding-statusbar"></div>
    <div class="a3-container a3-items-center a1-relative header-padding">
        <div class="header-button left  touch-scale" tappable menuToggle (click)="openMenu()">
            <div class="menu-btn-background"></div>

            <ion-icon name="departure-menu"></ion-icon>
        </div>
        <div class="header-title a3-flex-1">
            Đổi ngày
        </div>

        <div class="header-button right touch-scale" tappable (click)="onClickPickDate()">
            <ion-icon name="departure-c-calendar"></ion-icon>
        </div>
    </div>
    <div class="overlay" id="overlay-change"></div>

</ion-header>

<ion-content no-bounce>
    <div class="change-date-body a3-container-center">
        <div class="solar-date width-40 ">
            <div class="header a3-container-center">
                <span>Dương lịch</span>
            </div>
            <div id="solar-date" class="content a3-container-center">
                <div class="bg-active"></div>
                <div class="change-date-col solar-col" index="0" id="solarDay">
                    <div class="item"></div>
                    <div class="item " *ngFor="let date of mDayDatas;let i = index" [class.day-active]=" i==mCenterIndexs[0]">
                        <span [class.color-gray]="date>mMaxSolarDay">{{date}}</span>
                    </div>
                    <div class="item"></div>
                </div>
                <div class="border"></div>
                <div class="change-date-col solar-col" index="1" id="solarMonth">
                    <div class="item"></div>
                    <div class="item" *ngFor="let month of mMonthDatas;let i = index" [class.month-active]=" i==mCenterIndexs[1]">
                        <span>{{month}}</span>
                    </div>
                    <div class="item"></div>
                </div>
                <div class="border"></div>
                <div class="change-date-col solar-col" index="2" id="solarYear">
                    <div class="item"></div>
                    <div class="item" *ngFor="let year of mYearDatas;let i = index" [class.year-active]="i==mCenterIndexs[2]">
                        <span>{{year}}</span>
                    </div>
                    <div class="item"></div>
                </div>
            </div>
        </div>
        <div class="icon width-10 a3-container-center">
            <ion-icon name="departure-switch"></ion-icon>
        </div>
        <div class="lunar-date width-40">
            <div class="header a3-container-center">
                <span> Âm lịch </span>
            </div>
            <div class="content a3-container-center">
                <div class="bg-active"></div>
                <div class="change-date-col lunar-col" index="3" id="lunarDay">
                    <div class="item"></div>
                    <div class="item" *ngFor="let date of mDayDatas;let i = index" [class.day-active]="i==mCenterIndexs[3]">
                        <span [class.color-gray]="date>mMaxLunarDay">{{date}}</span>
                    </div>
                    <div class="item"></div>
                </div>
                <div class="border"></div>

                <div class="change-date-col lunar-col" index="4" id="lunarMonth">
                    <div class="item"></div>
                    <div class="item" *ngFor="let month of mMonthDatas;let i = index" [class.month-active]="i==mCenterIndexs[4] ">
                        <span>{{month}}</span>
                    </div>
                    <div class="item"></div>
                </div>
                <div class="border"></div>

                <div class="change-date-col lunar-col" index="5" id="lunarYear">
                    <div class="item"></div>
                    <div class="item" *ngFor="let year of mYearDatas;let i = index" [class.year-active]="i==mCenterIndexs[5]">
                        <span>{{year}}</span>
                    </div>
                    <div class="item"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="zodiac-block a3-container-center">
        <div class="date-detail a3-container-center" tappable (click)="onClickViewDetail()">Chi tiết ngày</div>
    </div>
    <div class="zodiac-comment">
        <span class="day-name">Ngày {{mDepartureObject.nameOfDay}} - {{mDepartureObject.dateString}} </span>
        <span class="day-comment" *ngIf="mDepartureObject.comment">" {{mDepartureObject.comment}} "</span>
    </div>
</ion-content>