@font-face {
    font-family: 'icomoon';
    src: url('../assets/fonts/icomoon.eot?fmiaa5');
    src: url('../assets/fonts/icomoon.eot?fmiaa5#iefix') format('embedded-opentype'), url('../assets/fonts/icomoon.ttf?fmiaa5') format('truetype'), url('../assets/fonts/icomoon.woff?fmiaa5') format('woff'), url('../assets/fonts/icomoon.svg?fmiaa5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg,
$val) {
    .departure-#{$arg}:before,
    .ion-ios-departure-#{$arg}:before,
    .ion-ios-departure-#{$arg}-outline:before,
    .ion-md-departure-#{$arg}:before,
    .ion-md-departure-#{$arg}-outline:before {
        content: $val;
    }
}

@include makeIcon(switch,
"\e900");
@include makeIcon(calendar-day,
"\e901");
@include makeIcon(calendar-month,
"\e902");
@include makeIcon(calendar,
"\e903");
@include makeIcon(calendar-switch,
"\e904");
@include makeIcon(c-calendar,
"\e905");
@include makeIcon(c-horoscope,
"\e906");
@include makeIcon(c-notification,
"\e907");
@include makeIcon(c-setting,
"\e908");
@include makeIcon(dream,
"\e909");
@include makeIcon(facebook,
"\e90a");
@include makeIcon(firework,
"\e90b");
@include makeIcon(google-plugs,
"\e90c");
@include makeIcon(left,
"\e90d");
@include makeIcon(money,
"\e90e");
@include makeIcon(more,
"\e90f");
@include makeIcon(person,
"\e910");
@include makeIcon(qr-code,
"\e911");
@include makeIcon(rhythm,
"\e912");
@include makeIcon(yinyang,
"\e913");
@include makeIcon(yinyang-2,
"\e91a");
@include makeIcon(zodiac,
"\e914");
@include makeIcon(today,
"\e915");
@include makeIcon(c-today,
"\e916");
@include makeIcon(menu,
"\e917");
@include makeIcon(arrow-left,
"\e918");
@include makeIcon(tiger,
"\e919");