page-number-rich {
    $background: linear-gradient(to right, #007991, #78ffd6);
    .pageNumber-container {
        margin: auto;
        width: 60%;
        text-align: center;
    }
    .view-button {
        border-radius: 6px;
        padding: 6px 20px;
        margin-top: 32px;
        display: inline-block;
        span {
            font-size: $font-button;
        }
        transform: scale(1);
        transition: 200ms;
        box-shadow: 0px 2px 2px rgba($color: black, $alpha: .3);
    }
    .view-button:active {
        transform: scale(1.04);
    }
    .item-inner {
        border: none !important;
        border-bottom: 1px solid #dedede !important;
        box-shadow: none !important;
    }
    .input-md .text-input-clear-icon {
        background-size: 16px;
    }
    // .text-input-md {
    //     width: 100%;
    //     margin: 0;
    //     margin-top: 13px;
    //     margin-bottom: 5px;
    //     // padding-bottom: 3px;
    // }
    .text-input {
        font-size: $font-content !important;
    }
    // ion-input {
    //     border-bottom: 1px solid black;
    // }
    // .text-input-ios {
    // }
    // .text-input::-moz-placeholder {
    //     color: white;
    // }
    // .text-input:-ms-input-placeholder {
    //     color: white;
    // }
    // .text-input::-webkit-input-placeholder {
    //     text-indent: 0;
    //     color: white;
    // }
}