page-special-date {
    $background: linear-gradient(to right, #007991, #78ffd6);
    .header-md::after {
        height: 0;
    }
    .app-content {
        // overflow: hidden;
    }
    .content-md {
        // background: $background;
    }
    .content-ios {
        // background: $background;
    }
    .segment-md .segment-button {
        border: none;
    }
    .animation-bar {
        width: 50%;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: 2px;
        left: 0;
        transform: translate(0, 0);
        transition: 200ms;
    }
    .segmen-title {
        font-size: $font-option;
    }
    button.activated,
    .segment-md .segment-button.segment-activated {
        border: none;
        opacity: 1;
    }
    .segment-ios .segment-button.segment-activated {
        background-color: rgba(white, 0.3);
    }
    .segment-ios .segment-button {
        border-color: white;
        height: unset;
        line-height: unset;
    }
    .segmen-title {
        color: white;
    }
    .segment-container {
        width: 90%;
        margin: auto;
    }
    .dl-al {
        width: 20%;
        .dl {
            font-weight: bold;
            font-size: $font-timeNumber;
            color: white;
        }
        .al {
            font-size: $font-timeNumber;
            color: #dcdcdc;
        }
    }
    .item-div {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        background: map-get($map: $colors, $key: card);
        box-shadow: 0px 2px 3px rgba($color: black, $alpha: .2);
        .line {
            left: 20%;
            width: 1px;
            height: 60%;
            top: 20%;
            background-color: white;
        }
        .item-start {
            width: 20%;
            text-align: center;
            span {}
            .dl {
                font-size: $font-timeNumber;
                font-weight: bold;
            }
            .al {
                font-size: $font-timeNumber;
                color: #4d4747;
            }
        }
        .item-end {
            width: 20%;
            text-align: center;
            padding: 6px;
            ion-icon {
                color: black;
                font-size: $font-iconTabbar;
            }
        }
        .item-content {
            width: 60%;
            span {
                padding-left: 16px;
                font-size: $font-option;
            }
        }
    }
}