<ion-header class="background-header">

    <div class="a3-container a3-items-center a1-relative header-padding ">
        <div class="header-button left" tappable (click)="closeView()">
            <ion-icon name="departure-arrow-left"></ion-icon>
        </div>

        <div class="header-title a3-flex-1">
            Ngày Lễ Việt Nam
        </div>

        <div class="header-button left hidden">
            <ion-icon name="departure-arrow-left"></ion-icon>
        </div>
        <!-- <div class="header-button"></div> -->
    </div>


    <div class="a1-relative a3-container segment-container ">
        <ion-segment [(ngModel)]="calendar" class="a1-relative">
            <!-- <div *ngIf="!mAppModule.mIsOnIOSDevice" class="animation-bar" id="animateBar"></div> -->
            <ion-segment-button value="solar" (ionSelect)="changeSegment('solar')">
                <span class="segmen-title">Dương Lịch</span>
            </ion-segment-button>
            <ion-segment-button value="lunar" (ionSelect)="changeSegment('lunar')">
                <span class="segmen-title">Âm Lịch</span>
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>




<ion-content>
    <div [ngSwitch]="calendar" class="appContent" (swipe)="swipe($event)">
        <div *ngSwitchCase="'solar'" class="a1-relative" id="box-solar">
            <div *ngFor="let day of cavalDL_data ; let i = index" class="box-card">
                <div class="box-top a3-container a3-justify-between a3-items-center">
                    <div class="box-date a3-container">
                        <div class="solar">{{day.date}}</div>
                        <div class="lunar">{{getLunarDate(day.date)}}</div>
                    </div>
                    <div class="box-title" (click)="goToDetail(day)" tappable>{{day.name}}</div>
                    <div class="box-arrow" (click)="showBox(i)" tappable>
                        <ion-icon class="down" id="down{{i}}" name="ios-arrow-down-outline"></ion-icon>
                        <ion-icon class="up" id="up{{i}}" name="ios-arrow-up-outline"></ion-icon>
                    </div>
                </div>
                <div class="box-description" id="solar-content{{i}}">
                    {{day.description}}
                </div>
            </div>

        </div>
        <div *ngSwitchCase="'lunar'" class="a1-relative">
            <div *ngFor="let day of cavalAL_data ; let i = index" class="box-card">
                <div class="box-top a3-container a3-justify-between a3-items-center">
                    <div class="box-date a3-container">
                        <div class="solar">{{getSolarDate(day.date)}}</div>
                        <div class="lunar">{{day.date}}</div>
                    </div>
                    <div class="box-title" (click)="goToDetail(day)" tappable>{{day.name}}</div>
                    <div class="box-arrow" (click)="showBoxAL(i)" tappable>
                        <ion-icon class="down" id="lunar-down{{i}}" name="ios-arrow-down-outline"></ion-icon>
                        <ion-icon class="up" id="lunar-up{{i}}" name="ios-arrow-up-outline"></ion-icon>
                    </div>
                </div>
                <div class="box-description" id="lunar-content{{i}}">
                    {{day.description}}
                </div>
            </div>
        </div>
    </div>
</ion-content>