page-special-date {
    $background: linear-gradient(to right, #007991, #78ffd6);
    .header-md::after {
        height: 0;
    }
    .app-content {
        // overflow: hidden;
    }
    .content-md {
        // background: $background;
    }
    .content-ios {
        // background: $background;
    }
    @media (min-width: 768px) {
        .appContent {
            margin-top: 32px !important;
        }
        .segment-md .segment-button {
            height: 5.2rem !important;
        }
        .segment-ios .segment-button {
            height: 5.2rem !important;
        }
    }
    .appContent {
        margin-top: 16px;
    }
    // .segment-md .segment-button {
    //     border: none;
    // }
    .animation-bar {
        width: 50%;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: 2px;
        left: 0;
        transform: translate(0, 0);
        transition: 200ms;
    }
    .segmen-title {
        font-size: $font-option;
    }
    button.activated,
    .segment-md .segment-button.segment-activated {
        border: none;
        opacity: 1;
        background: white;
        color: map-get($map: $DpColors, $key: left) !important;
    }
    .segment-ios .segment-button.segment-activated {
        border: none;
        opacity: 1;
        background: white;
        color: map-get($map: $DpColors, $key: left);
        // background-color: rgba(white, 0.3);
    }
    .segment-ios .segment-button {
        border-radius: 100px !important;
        border: 1px solid white !important;
        background: transparent;
        color: white;
        width: 40%;
        flex: none;
        margin: 0px 5px !important;
        // height: unset;
        // padding: 6px 0px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    // ion-segment {
    //     justify-content: space-between;
    // }
    .segment-md .segment-button {
        border: 1px solid white !important;
        border-radius: 100px !important;
        background: transparent;
        color: white;
        width: 40%;
        flex: none;
        margin: 0px 5px !important;
        height: unset;
        // padding: 6px 0px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    // .segmen-title {
    //     color: white;
    // }
    .segment-container {
        width: 90%;
        margin: auto;
        padding: 10px 0px;
    }
    // ===========new css===========
    ion-content {
        background: whitesmoke !important;
    }
    $margin-height: 16px;
    $padding-height: 6px;
    .box-card {
        background: white;
        min-height: 10vh;
        width: 90%;
        margin: auto;
        margin-bottom: $margin-height;
        border-radius: 5px;
        padding: 5px $margin-height;
        .box-top {
            height: 100%;
            padding: $padding-height 0;
        }
        .box-description {
            text-align: justify;
            padding: 12px 0;
            display: none;
            border-top: 1px solid map-get($map: $DpColors, $key: border);
            font-size: $font-content;
        }
        .box-date {
            text-align: left;
            width: 36%;
            background: #ccffff;
            border-radius: 20px;
            .solar {
                background: map-get($map: $DpColors, $key: right);
                color: white;
                border-radius: 20px;
                width: 50%;
                padding: $padding-height $padding-height;
                white-space: nowrap;
                font-size: $font-timeNumber;
                text-align: center;
            }
            .lunar {
                color: map-get($map: $DpColors, $key: medium);
                padding: $padding-height $padding-height;
                white-space: nowrap;
                width: 50%;
                text-align: center;
                font-size: $font-timeNumber;
            }
        }
        .box-title {
            width: 60%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 10px;
            text-align: left;
            color: map-get($map: $DpColors, $key: medium);
            font-size: $font-titleContent;
        }
        .box-arrow {
            text-align: right;
            color: map-get($map: $DpColors, $key: medium);
            padding: $padding-height;
            font-size: $font-icon;
        }
        .up {
            color: map-get($map: $DpColors, $key: left);
            display: none;
        }
    }
}