page-select-date-detail {
    $background: linear-gradient(to right, #007991, #78ffd6);
    // .header-md::after {
    //     height: 0;
    // }
    .selectDate-detail {
        height: calc(100% - 32px);
        padding-top: 16px;
        .selectDateDetail-container {
            margin: auto;
            width: calc(100% - 20px);
            height: 100%;
            border-radius: 5px;
            padding: 12px;
            overflow: auto;
            .content-work {
                .content-title {
                    padding: 5px 0;
                    span {
                        font-weight: bold;
                        font-size: $font-titleContent;
                    }
                }
                .p-left-5 {
                    padding-left: 5px;
                    font-size: $font-content;
                }
                p {
                    white-space: pre-wrap;
                    text-align: justify;
                    line-height: 1.5em;
                    font-size: $font-content;
                }
            }
        }
    }
}