page-zodiac-detail {
    $background: linear-gradient(to right, #007991, #78ffd6);
    .item {
        // color: white;
        padding: 16px;
        margin-top: 16px;
        .item-title {
            color: map-get($map: $DpColors, $key: bold);
            span {
                text-transform: uppercase;
                font-weight: bold;
                font-size: $font-titleContent;
            }
        }
        .item-content {
            // padding: 0 10px 0 10px;
            color: map-get($map: $DpColors, $key: medium);
            p {
                white-space: pre-wrap;
                text-align: justify;
                font-size: $font-content;
                line-height: 1.5em;
            }
        }
    }
}