page-departure-calendar {
    ion-content {
        background-color: white;
    }
    .ipad-dot {
        height: $ipad-dot-size !important;
        width: $ipad-dot-size !important;
        border-radius: 50%;
        margin-top: 2px;
        margin-right: 2px;
    }
    .a-header-background {
        background: linear-gradient(to right, #17cce9, #34a1ca);
        background-size: cover;
        background-position: bottom;
        background-repeat: none;
    }
    .a-header-button {
        cursor: pointer;
        img {
            height: 3em;
        }
    }
    .a-header-title {
        font-size: 1.2em;
        text-align: center;
        color: white;
        white-space: nowrap;
    }
    .height-56 {
        height: 56px;
    }
    .swiper-slide {
        font-size: unset;
    }
    // .scroll-container {
    //     overflow: auto;
    //     white-space: nowrap;
    //     .swiper-container {
    //         margin-left: auto;
    //         margin-right: auto;
    //         padding: 0;
    //         position: relative;
    //         z-index: 1;
    //         display: -webkit-box;
    //         display: -webkit-flex;
    //         display: -ms-flexbox;
    //         display: flex;
    //         overflow: scroll;
    //         width: 100%;
    //         height: 100%
    //     }
    //     .wrapper-container {
    //         padding: 0;
    //         position: relative;
    //         z-index: 1;
    //         // display: flex;
    //         width: 100%;
    //         height: 100%;
    //     }
    // }
    // .item-scroll {
    //     display: inline-block;
    //     padding: 14px;
    //     text-decoration: none;
    // }
    .calendar-block {
        width: 100%;
    }
    .grid {
        padding: 0;
        border: none;
        padding: 10px;
        text-decoration: none;
        display: inline-block;
    }
    .col {
        margin-left: -1px;
        margin-top: -1px;
        padding: 0;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .font-zodiac {
        white-space: nowrap;
        font-size: $font-timeTitle;
    }
    .calendar-th {
        padding: 10px 16px;
        .col {
            font-weight: bold;
            border: none;
            margin-left: 0;
            color: white;
            overflow: visible;
            span {
                font-size: $font-timeTitle;
            }
        }
    }
    .calendar-day {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .col {
            width: 14.2857142857%;
            -ms-flex-preferred-size: initial;
            flex-basis: initial;
            padding: 1px;
            text-align: -webkit-center;
        }
        .selected {
            // border-color: #4db8ff !important;
            // font-weight: bold;
            // background-color: rgba(0, 0, 0, 0.8);
            // color: white !important;
            // .solar-date{
            //     color: white;
            // }
            border: solid 1px #4bcdef;
        }
        .today {
            border-color: #fad1e1 !important;
            background-color: #fad1e1;
        }
        .solar-date {
            width: 100%;
            display: block;
            font-size: $font-timeNumber;
        }
        .lunar-date {
            font-size: $font-timeSexy;
            display: inline-block;
            color: #b7b7b7;
            background-color: transparent;
            vertical-align: middle;
            margin-left: 5px;
            margin-bottom: 1px;
        }
        .day-box {
            width: 99%;
            height: 99%;
            //border-style: solid;
            //border-radius: 50%;
            //border-width: 1px;
            //border-color: white;
            padding: 2px;
            padding-top: 3px;
        }
    }
    .color-sunday {
        color: #f17aa8;
    }
    .color-saturday {
        color: #64bee0;
    }
    .color-default {
        color: #717171;
    }
    @media (min-width: 767px) {
        .status-day {
            height: 12px !important;
            width: 12px !important;
        }
    }
    .status-day {
        width: $dot-size;
        height: $dot-size;
        border-radius: 50%;
        background-color: transparent;
        margin-top: 2px;
        margin-right: 2px;
    }
    .status-zodiac {
        display: inline-block;
        width: $dot-size;
        height: $dot-size;
        border-radius: 50%;
        background-color: transparent;
        vertical-align: middle;
    }
    .status-1 {
        background-color: #05eafd;
    }
    .status-2 {
        background-color: #fe7474;
    }
    .round-bottom-left {
        border-bottom-left-radius: 10px;
    }
    .round-bottom-right {
        border-bottom-right-radius: 10px;
    }
    .zodiac-block {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background-color: white;
        .status {
            margin: 5px 10px;
        }
        div {
            margin: 6px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }
    .zodiac-comment {
        padding: 5%;
        .day-name {
            width: 100%;
            display: block;
            margin-bottom: 5px;
            color: #4db8ff;
            font-size: $font-dayName;
        }
        .day-comment {
            font-size: $font-dayContent;
        }
    }
}