page-van-khan {
    $background: linear-gradient(to right, #007991, #78ffd6);
    // .header-md::after {
    //     height: 0;
    // }
    ion-content {
        background: whitesmoke !important;
    }
    .a-search {
        animation-duration: 200ms;
    }
    .button-clear-ios {
        color: white;
    }
    .list-container {
        margin-top: 2vh;
        overflow: auto;
        .div-item {
            width: 90%;
            min-height: 8vh;
            margin: auto;
            padding-left: 16px;
            margin-bottom: 2vh;
            color: map-get($map: $DpColors, $key: medium);
            background: white;
            .item-content {
                width: 90%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                span {
                    font-size: $font-option;
                }
            }
            .item-end {
                width: 10%;
                text-align: center;
                ion-icon {
                    font-size: $font-icon;
                }
            }
        }
        .div-item:active {
            background: map-get($map: $DpColors, $key: gray);
            color: map-get($map: $DpColors, $key: bold);
        }
    }
}