page-van-khan {
    $background: linear-gradient(to right, #007991, #78ffd6);
    // .header-md::after {
    //     height: 0;
    // }
    .a-search {
        animation-duration: 200ms;
    }
    .button-clear-ios {
        color: white;
    }
    .list-container {
        padding-top: 16px;
        overflow: auto;
        .div-item {
            width: 90%;
            min-height: 80px;
            margin: auto;
            padding-left: 16px;
            margin-bottom: 10px;
            box-shadow: 0px 2px 3px rgba($color: black, $alpha: .3);
            background: map-get($map: $colors, $key: card);
            .item-content {
                width: 90%;
                span {
                    font-size: $font-option;
                }
            }
            .item-end {
                width: 10%;
                text-align: center;
                ion-icon {
                    font-size: $font-icon;
                }
            }
        }
    }
}