<ion-header *ngIf="!isLoading" class="day-detail-header">
    <div class="background-header">
        <div class="padding-statusbar"></div>
        <div class="a3-container a3-justify-between a3-items-center header-padding">

            <div class="header-button left a-back-button touch-scale" tappable (click)="close()">
                <ion-icon name="departure-arrow-left"></ion-icon>
            </div>

            <div class="a1-relative a3-flex-1" text-center tappable (click)="pickDate()">
                <div class="dayDetail-dayofweek">
                    <span>{{dayDetail.day_of_week}}</span>
                </div>
                <div class="dayDetail-info">
                    <span>{{dayDetail.dd}}/{{dayDetail.mm}}/{{dayDetail.yy}}</span>
                </div>
            </div>

            <div class="header-button right touch-scale" tappable (click)="goToDay()">
                <ion-icon name="departure-c-today"></ion-icon>
            </div>
        </div>
    </div>

</ion-header>

<ion-content>

    <ion-slides initialSlide="1" speed="200" (ionSlideNextEnd)="next()" (ionSlidePrevEnd)="prev()">
        <ion-slide *ngFor="let mdayDetail of array">
            <div class="app-content animated" #detail id="appContent">
                <div class="a-time">
                    <div class="a-time-title a3-container-center">
                        <div class="a-item"><span>Giờ</span></div>
                        <div class="a-item"><span>Ngày</span></div>
                        <div class="a-item"><span>Tháng</span></div>
                        <div class="a-item"><span>Năm</span></div>
                    </div>
                    <div class="a-time-dot a3-container-center">
                        <div class="line a1-content-center"></div>
                        <div class="a-item ">
                            <div class="dot dot-1 ">
                                <div class="dot-small dot-small-1 a1-content-center"></div>
                            </div>
                        </div>
                        <div class="a-item ">
                            <div class="dot dot-2 ">
                                <div class="dot-small dot-small-2 a1-content-center"></div>
                            </div>
                        </div>
                        <div class="a-item ">
                            <div class="dot dot-3">
                                <div class="dot-small dot-small-3 a1-content-center"></div>
                            </div>
                        </div>
                        <div class="a-item ">
                            <div class="dot dot-4 ">
                                <div class="dot-small dot-small-4 a1-content-center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="a-time-number a3-container-center">
                        <div class="a-item time-number"><span>{{nowtime | date: "HH:mm"}}</span></div>
                        <div class="a-item time-number"><span>{{dayDetail.lunarDate}}</span></div>
                        <div class="a-item time-number"><span>{{dayDetail.lunarMonth}}</span></div>
                        <div class="a-item time-number"><span>{{dayDetail.lunarYear}}</span></div>
                    </div>
                    <div class="a-time-description a3-container-center">
                        <div class="a-item time-description"><span>{{dayDetail.sexagesimalCycleTime}}</span></div>
                        <div class="a-item time-description"><span>{{dayDetail.sexagesimalCycleDate}}</span></div>
                        <div class="a-item time-description"><span>{{dayDetail.sexagesimalCycleMonth}}</span></div>
                        <div class="a-item time-description"><span>{{dayDetail.sexagesimalCycleYear}}</span></div>
                    </div>
                </div>
                <div class="a3-container a3-justify-between a1-relative" margin-bottom>
                    <div class="item-haft">
                        <div class="shape1">
                            <span>Hành</span>
                        </div>
                        <div class="shape2">
                            <span>{{mdayDetail.TNBINFO.nguhanh_id}}</span>
                        </div>
                    </div>
                    <div class="item-haft">
                        <div class="shape1">
                            <span>Trực</span>
                        </div>
                        <div class="shape2">
                            <span>{{mdayDetail.trucDay}}</span>
                        </div>
                    </div>
                </div>
                <div class="a3-container a3-justify-between a1-relative" margin-bottom>
                    <div class="item-haft">
                        <div class="shape1">
                            <span>Sao</span>
                        </div>
                        <div class="shape2">
                            <span>{{mdayDetail.TNBINFO.thapnhibat_ten}}</span>
                        </div>
                    </div>
                    <div class="item-haft">
                        <div class="shape1">
                            <span>Tiết</span>
                        </div>
                        <div class="shape2">
                            <span>{{mdayDetail.tietDay}}</span>

                        </div>
                    </div>
                </div>
                <div class="box" *ngIf="mdayDetail.special_name.length>0 && !mdayDetail.special_info">
                    <div class="box-title a3-container a3-items-center">
                        <div class="box-dot background-header"></div>
                        <div class="title-color" margin-left>Sự kiện</div>
                    </div>
                    <div class="box-content" *ngFor="let item of mdayDetail.special_name">
                        {{item}}
                    </div>
                </div>
                <div class="box" *ngIf="mdayDetail.special_info">
                    <div class="box-title a3-container a3-items-center">
                        <div class="box-dot background-header"></div>
                        <div class="title-color" margin-left>Ngày lễ Việt Nam</div>
                    </div>
                    <div class="box-content">
                        <p>{{mdayDetail.special_info}}</p>
                    </div>
                </div>

                <div class="box">
                    <div class="box-title a3-container a3-items-center">
                        <div class="box-dot background-header"></div>
                        <div class="title-color" margin-left><span>Kiêng</span></div>
                    </div>
                    <div class="box-content">
                        {{mdayDetail.TNBINFO.kieng_ky}}
                    </div>
                </div>

                <div class="box">
                    <div class="box-title a3-container a3-items-center">
                        <div class="box-dot background-header"></div>
                        <div class="title-color" margin-left><span>Nên</span></div>
                    </div>
                    <div class="box-content">
                        {{mdayDetail.TNBINFO.nen_lam}}
                    </div>
                </div>
                <div class="box">
                    <div class="box-title a3-container a3-items-center">
                        <div class="box-dot background-header"></div>
                        <div class="title-color" margin-left><span>Giờ tốt</span></div>
                    </div>
                    <div class="box-content">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-4 *ngFor="let hour of mdayDetail.hour_better">
                                    <span>{{hour.split("(")[0]}}</span>
                                    <span class="gray-color">({{hour.split("(")[1]}}</span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
                <div class="box">
                    <div class="box-title a3-container a3-items-center">
                        <div class="box-dot background-header"></div>
                        <div class="title-color" margin-left><span>Giờ xấu</span></div>
                    </div>
                    <div class="box-content">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-4 *ngFor="let hour of mdayDetail.hour_bad">
                                    <span>{{hour.split("(")[0]}}</span>
                                    <span class="gray-color">({{hour.split("(")[1]}}</span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
                <div class="box">
                    <div class="box-title a3-container a3-items-center">
                        <div class="box-dot background-header"></div>
                        <div class="title-color" margin-left><span>Hướng xuất hành</span></div>
                    </div>
                    <div class="box-content">
                        <div *ngFor="let item of mdayDetail.huong_xuat_hanh">
                            {{item.huong_name}} : {{item.huong_id}}
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="box-title a3-container a3-items-center">
                        <div class="box-dot background-header"></div>
                        <div class="title-color" margin-left><span>Tuổi xung khắc</span></div>
                    </div>
                    <div class="box-content">
                        <span>{{mdayDetail.tuoi_xung_khac}}</span>
                    </div>
                </div>
                <div class="box">
                    <div class="box-title a3-container a3-items-center">
                        <div class="box-dot background-header"></div>
                        <div class="title-color" margin-left><span>Sao tốt</span></div>
                    </div>
                    <div class="box-content">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-4 *ngFor="let temp of mdayDetail.sao_tot">
                                    <span>{{temp}}</span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
                <div class="box">
                    <div class="box-title a3-container a3-items-center">
                        <div class="box-dot background-header"></div>
                        <div class="title-color" margin-left><span>Sao xấu</span></div>
                    </div>
                    <div class="box-content">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-4 *ngFor="let temp of mdayDetail.sao_xau">
                                    <span>{{temp}}</span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>

                <div class="box">
                    <div class="box-title a3-container a3-items-center">
                        <div class="box-dot background-header"></div>
                        <div class="title-color" margin-left><span>Thơ</span></div>
                    </div>
                    <div class="box-content poem">
                        <span>{{mdayDetail.TNBINFO.thapnhibat_tho}}</span>
                    </div>
                </div>

            </div>
        </ion-slide>
    </ion-slides>
</ion-content>