page-pickdate {
    $rowHeight: 45px;
    $ipadRowHeight: 80px;
    ion-content {
        background-color: rgba(black, 0.6) !important;
    }
    @media(min-width: 768px) {
        .change-date-col-container {
            height: $ipadRowHeight * 3 !important;
            .bg-active {
                height: $ipadRowHeight !important;
            }
            .col-date {
                height: $ipadRowHeight * 3 !important;
                .item {
                    height: $ipadRowHeight !important;
                    span {
                        height: $ipadRowHeight !important;
                        line-height: $ipadRowHeight !important;
                    }
                }
            }
        }
    }
    .container {}
    .scroll-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0px !important;
    }
    .change-date-header {
        background: linear-gradient(to right, #18cae6, #32a4cc);
        position: relative;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .title {
        padding: 16px;
        color: #fff;
        font-size: $font-titleContent;
    }
    .close-button {
        padding: 10px;
        color: #fff;
        width: 15%;
        background: rgba(white, 0.3);
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        border-top-right-radius: 10px;
        ion-icon {
            font-size: $font-iconTabbar;
        }
    }
    .close-button:active {
        background-color: rgba(black, 0.6);
    }
    .ipad-container {
        height: $ipadRowHeight * 3 !important;
    }
    .ipad-row-height {
        height: $ipadRowHeight !important;
    }
    .ipad-line-height {
        line-height: $ipadRowHeight !important;
    }
    .color-gray {
        color: gray;
        visibility: hidden;
    }
    .change-date-col-container {
        height: $rowHeight *3;
        position: relative;
        z-index: 9;
        .bg-active {
            position: absolute;
            top: 50%;
            left: 50%;
            height: $rowHeight;
            transform: translate(-50%, -50%);
            width: 90%;
            background: map-get($map: $DpColors, $key: bg);
            border-radius: 20px;
            opacity: 1;
            z-index: 0;
        }
        .col-date {
            position: relative;
            width: 33%;
            float: left;
            overflow: auto;
            height: $rowHeight *3;
            z-index: 10;
            .item {
                width: 100%;
                height: $rowHeight;
                color: #717171;
                text-align: center;
                span {
                    display: block;
                    width: 100%;
                    text-align: center;
                    height: $rowHeight;
                    line-height: $rowHeight;
                    font-size: $font-content;
                }
            }
        }
    }
    .change-date-content {
        position: relative;
        margin: auto;
        width: 80%;
        border-radius: 10px;
        background-color: #fff;
    }
    .button-bottom {
        margin-top: 16px;
        border-radius: 5px;
        position: relative;
        font-size: $font-button;
        margin: auto;
        width: 80%;
        padding: 16px;
        background-color: #56b8dd;
        text-transform: uppercase;
        color: #fff;
        z-index: 10;
    }
    .button-bottom:active {
        background-color: rgba(black, 0.6);
    }
}