<ion-content>
    <div class="a1-relative animated slideInDown" style="animation-duration:300ms">
        <div margin-bottom class="change-date-content">
            <div class="change-date-header a3-container-center">
                <div class="title">Chọn ngày</div>
                <div class="close-button a3-container-center" tappable (click)="closeSolarDate()">
                    <ion-icon name="close"></ion-icon>
                </div>
            </div>
            <div class="change-date-col-container">
                <div class="bg-active"></div>
                <div class="col-date " id="div1">
                    <div class="item"></div>
                    <div class="item " *ngFor="let date of mDayDatas">
                        <span [class.color-gray]="date>mMaxSolarDay">{{date}}</span>
                    </div>
                    <div class="item"></div>
                </div>
                <div class="col-date " id="div2">
                    <div class="item"></div>
                    <div class="item" *ngFor="let month of mMonthDatas">
                        <span>{{month}}</span>
                    </div>
                    <div class="item"></div>
                </div>
                <div class="col-date" id="div3">
                    <div class="item"></div>
                    <div class="item" *ngFor="let year of mYearDatas">
                        <span>{{year}}</span>
                    </div>
                    <div class="item"></div>
                </div>
            </div>
        </div>
        <div class="button-bottom" tappable (click)="getSolarDate() ">Đồng ý</div>

    </div>

</ion-content>