page-tuvi-12congiap-detail {
    @media (min-width: 768px) {
        .container {
            padding: 40px !important;
        }
        .description {
            padding: 20px !important;
        }
        .title {
            margin: 32px 0px !important;
        }
    }
    .container {
        padding: 16px;
        color: whitesmoke;
    }
}