<ion-header class="background-header">
    <div class="padding-statusbar"></div>
    <div class="a3-container a3-items-center a1-relative header-padding">

        <div class="header-button left" tappable (click)="closeView()">
            <ion-icon name="departure-arrow-left"></ion-icon>
        </div>

        <div class="header-title a3-flex-1">
            Điềm : {{data.mong_name}}
        </div>
        <div class="header-button left hidden" tappable (click)="closeView()">
            <ion-icon name="departure-arrow-left"></ion-icon>
        </div>
        <!-- <div class="header-button"></div> -->
    </div>
</ion-header>



<ion-content>
    <div class="mong-content">
        <div class="box" *ngFor="let item of data.mong_content">
            <div class="box-title a3-container a3-items-center" *ngIf="item">
                <div class="box-dot background-header"></div>
            </div>
            <div class="box-content" *ngIf="item">
                {{item}}
            </div>
        </div>
    </div>

</ion-content>