page-xem-nd-detail {
    $background: linear-gradient(to right, #007991, #78ffd6);
    ion-content {
        background: $background;
    }
    .pageXemND-container {
        height: 100%;
    }
    .form-container {
        margin: auto;
        width: 50%;
        height: 100%;
        text-align: center;
    }
    .view-button {
        border: 1px solid white;
        border-radius: 6px;
        padding: 8px 16px;
        display: inline-block;
        span {
            color: white;
            font-size: $font-button;
        }
    }
    .text-input-md {
        color: white;
        width: 100%;
        margin: 0;
        margin-top: 13px;
        margin-bottom: 5px; // padding-bottom: 3px;
    }
    .text-input {
        font-size: $font-content!important;
    }
    ion-input {
        border-bottom: 1px solid white;
    }
    .text-input-ios {
        color: white;
    }
    .text-input::-moz-placeholder {
        color: white;
    }
    .text-input:-ms-input-placeholder {
        color: white;
    }
    .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: white;
    }
    .image {
        overflow: scroll;
        height: 100%;
        img {
            width: 50%;
            transition: 500ms;
        }
    }
    .white-background {
        background: white;
    }
    .zoom-pane {
        width: 100%;
        height: 100%;
    } // ion-scroll {
    //     .scroll-content {
    //         display: flex;
    //         display: -webkit-flex;
    //         align-items: center;
    //         -webkit-align-items: center;
    //         justify-content: center;
    //         -webkit-justify-content: center;
    //         .scroll-zoom-wrapper {
    //             text-align: center;
    //         }
    //     }
    // }
    // @-webkit-keyframes zoom {
    //     from {-webkit-transform:scale(0)} 
    //     to {-webkit-transform:scale(1)}
    // }
    // @keyframes zoom {
    //     from {transform:scale(0)} 
    //     to {transform:scale(1)}
    // }
}   