<ion-header>

    <div class="a3-container a3-items-center a1-relative header-padding background-header">
        <div class="header-button left touch-scale" tappable (click)="closeView()">
            <ion-icon name="departure-arrow-left"></ion-icon>
        </div>

        <div class="header-title a3-flex-1" *ngIf="!isLoading">
            {{data.name}}
        </div>
        <div class="header-button left hidden">
            <ion-icon name="departure-arrow-left"></ion-icon>
        </div>
    </div>

</ion-header>


<ion-content>
    <div padding-top class="pageXemND-container">
        <div class="a1-relative a1-height-30">
            <div class="form-container a1-relative" text-center>
                <div class="input">
                    <ion-input #input type="number" placeholder="Nhập số"></ion-input>
                </div>
                <div style="height: 32px"></div>
                <div class="view-button background-header" tappable (click)="viewDescription()" text-center>
                    <span>Xem</span>
                </div>
            </div>
        </div>
        <div *ngIf="!isLoading" class="a1-height-70 " tappable (click)="zoom()" text-center>
            <div class="image">
                <img [src]="data.image" id="img">
            </div>
        </div>

    </div>

</ion-content>