page-zodiac {
    $background: linear-gradient(to right, #007991, #78ffd6);
    // .header-md::after {
    //     height: 0;
    // }
    .col {
        margin-bottom: 10px;
    }
    .zodiac-container {
        width: 94%;
        margin: auto;
        // background: map-get($map: $colors, $key: card);
        border-radius: 5px;
        .zodiac-symbol {
            padding: 2px;
            img {
                padding-top: 4px;
                height: 3em;
            }
        }
        .zodiac-name {
            span {
                font-weight: bolder;
                white-space: nowrap;
                font-size: $font-titleContent;
            }
        }
        .zodiac-date {
            span {
                font-size: $font-content;
                white-space: nowrap;
            }
        }
    }
}