page-zodiac {
    ion-content {
        background: whitesmoke !important;
    }
    .header-title {
        font-size: $font-titleheader - 1vw !important;
    }
    .grid {
        padding: 2vw;
    }
    .col {
        padding: 2vw !important;
    }
    .box-col {
        background: white;
        border-radius: 5px;
        padding: 6px 0;
    }
    .zodiac-icon {
        height: 50px;
        width: 50px;
        margin: auto;
        border-radius: 50%;
        padding: 6px;
    }
    .zodiac-name {
        margin-top: 16px;
        color: map-get($map: $DpColors, $key: bold);
        font-size: $font-content;
        white-space: nowrap;
    }
    .zodiac-date {
        margin-top: 4px;
        color: map-get($map: $DpColors, $key: left);
        font-size: $font-content - 0.5vw;
    }
}