<ion-header>
    <div class="a3-container a3-items-center a1-relative header-padding background-header">
        <div class="header-button left touch-scale" tappable (click)="closeView()">
            <ion-icon name="departure-arrow-left"></ion-icon>
        </div>

        <div class="header-title a3-flex-1" text-center>
            {{mPageTitle}}
        </div>
        <div class="header-button left hidden">
            <ion-icon name="departure-arrow-left"></ion-icon>
        </div>
    </div>
</ion-header>





<ion-content>
    <ion-grid *ngIf="!isLoading">
        <ion-row align-items-center>
            <ion-col col-4 *ngFor="let item of data; let i = index" text-center tappable (click)="viewDetail(item.id)">
                <div class=" box-col ">
                    <div class="zodiac-icon " [ngStyle]="{ 'background': mColors[i]} ">
                        <img [src]="mIcons[i] " alt="icon ">
                    </div>
                    <div class="zodiac-name ">
                        <span>{{getItemName(item.name)}}</span>
                    </div>
                    <div class="zodiac-date ">
                        <span>{{item.date}}</span>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>